.body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    border-style: solid;
    border-width: 10px;
    margin: 25vh 90vh;
}
.buttons{
    display: flex;
    flex-direction: column;
}

.rowone, .rowtwo, .rowthree, .rowfour, .rowfive{
    display: flex;
}